@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Young+Serif&display=swap');
@import "tailwindcss";

*{
    font-family: 'Inter';
}

.cardStyle {
  border: 1px solid black;
  width: 128px;
  min-width: 128px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 640px) {
  .cardStyle {
    width: 144px;
    min-width: 144px;
  }
}

@media (min-width: 768px) {
  .cardStyle {
    width: 160px;
    min-width: 160px;
  }
}

@media (min-width: 1024px) {
  .cardStyle {
    width: 176px;
    min-width: 176px;
  }
}